extends layout

block content
  h1= title
  p Welcome to #{title}
  style.
      * { margin: 0; padding: 0; box-sizing: border-box; }
      body { font: 13px Helvetica, Arial; }
      form { background: #000; padding: 3px; position: fixed; bottom: 0; width: 100%; }
      form input { border: 0; padding: 10px; width: 90%; margin-right: 0.5%; }
      form button { width: 9%; background: rgb(130, 224, 255); border: none; padding: 10px; }
      #messages { list-style-type: none; margin: 0; padding: 0; }
      #messages li { padding: 5px 10px; }
      #messages li:nth-child(odd) { background: #eee; }
  ul#messages
  form(action='')
    input#m(autocomplete='off')
    button Send
  script(src="/socket.io/socket.io.js")
  script(src='https://code.jquery.com/jquery-3.4.1.min.js')
  script.
    $(function () {
      var socket = io('/', 
                        {
                          transportOptions: {
                            polling: {
                              extraHeaders: {
                                'Authorization': 'bearer eyJhbGciOiJIUzI1NiJ9.eyJ1c2VybmFtZSI6InRlc3RVc2VybmFtZSJ9.8VaUL5fjo-cY79SkGPnsavOfZXZaustZ3KvFMNp7Hy0'
                              }
                            }
                          }
                        });

      // message sent
      $('form').submit(function(e) {
        e.preventDefault(); // prevents page reloading
        socket.emit('chat message', $('#m').val());
        $('#m').val('');
        return false;
      });

      // message received 
      socket.on('chat message', function(eventParams){
        $('#messages').append($('<li>').text(eventParams));
      });
    });
    

   