//-
//- Copyright 2020 Susan Wu
//-
//- Licensed under the Apache License, Version 2.0 (the "License"); you may not
//- use this file except in compliance with the License. You may obtain a copy of
//- the License at
//-
//-    http://www.apache.org/licenses/LICENSE-2.0
//-
//- Unless required by applicable law or agreed to in writing, software
//- distributed under the License is distributed on an "AS IS" BASIS, WITHOUT
//- WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied. See the
//- License for the specific language governing permissions and limitations under
//- the License.
//-

//- Sample view for a chat application
extends layout

block content
  h1= title
  p Welcome to #{title}
  style.
      * { margin: 0; padding: 0; box-sizing: border-box; }
      body { font: 13px Helvetica, Arial; }
      form { background: #000; padding: 3px; position: fixed; bottom: 0; width: 100%; }
      form input { border: 0; padding: 10px; width: 90%; margin-right: 0.5%; }
      form button { width: 9%; background: rgb(130, 224, 255); border: none; padding: 10px; }
      #messages { list-style-type: none; margin: 0; padding: 0; }
      #messages li { padding: 5px 10px; }
      #messages li:nth-child(odd) { background: #eee; }
  ul#messages
  form(action='')
    input#m(autocomplete='off')
    button Send
  script(src="/socket.io/socket.io.js")
  script(src='https://code.jquery.com/jquery-3.4.1.min.js')
  script.
    $(function () {
      // Open a socket connection with jwt authentication
      var socket = io('/', 
                        {
                          transportOptions: {
                            polling: {
                              extraHeaders: {
                                'Authorization': 'bearer eyJhbGciOiJIUzI1NiJ9.eyJqdGkiOiI4YzVlN2FiNi0zNWFmLTQ3N2QtODY0Ny1kYmM2ZDY1YTJiMGQiLCJzdWIiOiI0Iiwic2NwIjoidXNlciIsImF1ZCI6bnVsbCwiaWF0IjoxNTk4Mjk3NDg5LCJleHAiOjE2MDA5MjcyMzV9.OmrSUXGiHx4Zdj0xq9R7wgJWOXH1tqay38ylHKdluMs'
                              }
                            }
                          }
                        });

      // Upon form submission, emit 'chat message' event
      $('form').submit(function(e) {
        e.preventDefault(); // prevents page reloading
        socket.emit('chat message', $('#m').val());
        $('#m').val('');
        return false;
      });

      // 'chat message' event received
      socket.on('chat message', function(eventObj) {
        $('#messages').append($('<li>').text(eventObj.msg));
      });

    });
